<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Test-Alpha</title>
</head>

<body>
  <div class="wrapper">
    <div id="app" class="app hide">
      <div class="app__preloader" v-if="loading">Loading ...</div>
      <div class="app__content" v-else>
        <div class="app__nav">
          <router-link to="/home">Начало</router-link>
          <router-link to="/top">Топ 5</router-link>
          <router-link to="/full">Весь список</router-link>
        </div>
        <div class="app__tabs">
          <router-view :persons="personsWithExp"/>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="/main.js"></script>
</body>

</html>